.carousel {
  position: relative;
  display: inline-block;
}

// Skill pills for project skills
// on each project for Treehouse
.skill {
  font-size: em(14px);
  border-radius: em(50px);
  margin: em(20px) em(10px) 0 0;
  padding: em(10px);
  background-color: $grey;
  color:white;

  @include e(list) {
    padding-left: 0;
    @include flex(flex, row, $just: center, $wrap: wrap);
  }

  @include e(description) {
    padding: 0 em(60px);
    height: 100px;

    @include mq(medium) {
      height: 50px;
    }
  }
}
