.img {
  // Profile image of me
  @include m(profile) {
    width: 14.75em;
    border: 3px solid white;
    border-radius: 50%;

    @include mq(medium) {
      width: em(300px);
    }
  }

  // Each project image in carousel
  @include m(project) {
    width: 80%;
    height: auto;
    // height: em(150px);
    margin: 0 auto;
    box-shadow:  0 10px 10px rgba(25, 30, 31, 0.25);

    @include mq (medium) {
      max-width: 700px;
      height: em(350px);
    }
  }
}
