.img {
  // Profile image of me
  @include m(profile) {
    width: em(300px);
    border: 3px solid white;
    border-radius: 50%;
  }

  // Each project image in carousel
  @include m(project) {
    // width: 80%;
    height: em(150px);
    margin: 0 auto;
    box-shadow:  0 10px 10px rgba(25, 30, 31, 0.25);

    @include mq (medium) {
      height: em(350px);
    }
  }
}
