.svg {
  // Down arrow for smooth scrolling
  @include m(down-arrow) {
    cursor: pointer;
  }

  // Next arrow for carousel
  @include m(next) {
    @extend %previous-next-arrow-width;
    position: absolute;
    top: 50px;
    right: 0;

    @include mq(medium) {
      top: 150px;
      right: 53px;
    }
  }

  // Previous arrow for carousel
  @include m(previous) {
    @extend %previous-next-arrow-width;
    transform: rotate(180deg);
    position: absolute;
    top: 50px;
    left: 0;

    @include mq(medium) {
      top: 150px;
      left: 50px;
    }
  }
}