body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(25, 30, 31, 0.25), 0 10px 10px rgba(25, 30, 31, 0.25);
  color: $white;
  min-width: 345px;
  max-width: 1024px;
  @extend %margin-auto;
}

// About section
.about {
  background-color: $maroon;

  @include e(header) {
    @extend %card-section-header;

    &:before {
      @extend %header-band-before;
    }

    &:after {
      @extend %header-band-after;
    }
  }

  @include e(info) {
    padding: em(50px) em(40px);
    line-height: 1.8;

    a {
      color: $white;
    }

    p {
      margin: 0;
      padding-bottom: 30px;
    }
  }
}

// Work section
.work {
  background-color: $light-blue;

  @include e(header) {
    @extend %card-section-header;
    color: $charcoal;

    &:before {
      @extend %header-band-before;
      background-color: $charcoal;
    }

    &:after {
      @extend %header-band-after;
      background-color: $charcoal;
    }
  }
}

// Contact section
.contact {
  background-color: $charcoal;
  color: $white;
  padding-bottom: em(70px);

  @include e(header) {
    @extend %card-section-header;

    &:before {
      @extend %header-band-before;

    }

    &:after {
      @extend %header-band-after;
    }
  }

  @include e(info) {
    .email {
      margin-bottom: em(60px);

      a {
        color: $white;
        padding-left: 5px;
      }
    }

    a {
      padding-right: 15px;
    }

    p {
      margin-top: 0;
    }
  }
}
